@import '../../../../framework/variables';
@import '../../../../framework/mixins';

.mat-dialog-container {
  padding-bottom: 0 !important;
}

.share-btns-dialog {
  .mat-dialog-content {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0;
    margin-right: 0;

    .mat-fab {
      color: #fff;
      @include set-margin(0, 3px, 0, 3px);
    }
  }
}
