$mat-fancy-purple: (
  50 : #f1eaef,
  100 : #dccad6,
  200 : #c5a6bb,
  300 : #ad829f,
  400 : #9c688b,
  500 : #8a4d76,
  600 : #82466e,
  700 : #773d63,
  800 : #6d3459,
  900 : #5a2546,
  A100 : #ff9fd9,
  A200 : #ff6cc5,
  A400 : #ff39b1,
  A700 : #ff1fa7,
  contrast: (
    50 : #333333,
    100 : #333333,
    200 : #333333,
    300 : #333333,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #333333,
    A200 : #333333,
    A400 : #333333,
    A700 : #ffffff,
  )
);

$mat-fancy-pink: (
  50 : #feeff2,
  100 : #fed8de,
  200 : #fdbec8,
  300 : #fca3b2,
  400 : #fb90a2,
  500 : #fa7c91,
  600 : #f97489,
  700 : #f9697e,
  800 : #f85f74,
  900 : #f64c62,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffeaec,
  A700 : #ffd0d6,
  contrast: (
    50 : #333333,
    100 : #333333,
    200 : #333333,
    300 : #333333,
    400 : #333333,
    500 : #333333,
    600 : #333333,
    700 : #333333,
    800 : #333333,
    900 : #333333,
    A100 : #333333,
    A200 : #333333,
    A400 : #333333,
    A700 : #333333,
  )
);
